:host {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.modal-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  iframe {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    height: 70vh;
  }
}
